body {
    background-color: #181818;
    margin: 20px 733px 0px 733px;
}

.white-box {
    background-color: white;
    width: 770px;
    margin: auto;
    align-content: center;
    padding: 0px 0px 50px 0px;
    display: inline-block;
}

.outer-box {
    background-color: #f59e42;
    width: 300px;
    height: 300px;
    margin: 0px 50px;
    display: inline-flex;
}

.inner-box {
    background-color: green;
    border: black 10px solid;
    width: 200px;
    display: inline-block;
    margin: 50px;
    text-align: center;
    padding: 0px;
}

.text-box {
    color: black;
    background-color: white;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    margin: 81px 66px;
    text-align: center;
}

.captions {
    display: inline-block;
    align-self: flex-end;
    position: absolute;
    margin-top: 255px;
}

.captions * {
    display: inline-block;
}

.captions * {
    width: 100px;
    height: 35px;
}

.padding {
    background-color: green;
    text-align: center;
    line-height: 35px;
}

.margin {
    background-color: #f59e42;
    text-align: center;
    line-height: 35px;
}

.border {
    background-color: white;
    text-align: center;
    line-height: 35px;
    border: black 5px solid;
}

h1 {
    color: black;
    margin: 50px;
}